
  <h1><center>Welcome <%= @user.name %>!</center></h1>
  <p>Let's get FU'd, shall we?</p>

<% Deck.all.each do |deck| %>
	<form action="/user/<%= @user.id %>/deck/<%= deck.id %>" method="post">
    <br>
    <input type="submit" value="<%= deck.name %>">
  </form>
<% end %>

  <br>
  <br>

  <form action="/sign_out" method="get"><center>
  	<input type="submit" value="Iam Out!"></center>
	</form>





