<div class="container">
  <h1>Welcome <%= @user.name %>!</h1>
  <p>Let's get smart, shall we?</p>

<% Deck.all.each do |deck| %>
	<form action="/user/<%= @user.id %>/deck/<%= deck.id %>" method="post">
    <br>
    <input type="submit" value="<%= deck.name %>">
  </form>
<% end %>

  <br>
  <br>

  <a href="/sign_out">Sign out</a>

</div>



