<div class="container">
  <h1>You effed it up!</h1>
  <p>A password is required to set up an account, want to try again?</p>

  <br>
  <br>
  <form action="/login" method="post">
    <input type="submit" value="I'm sorry! Try Again">
  </form>
  <br>
  <br>
  <form action="/" method="get"><center>
    <input type="submit" value="Home"></center>
  </form>
</div>
