<div class="container">
  <h1>Back for more? </h1>
  <p>Login!</p>

  <form action="/login" method="post">
  <br>
    <input type="text" name="email" placeholder= "Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Let's play!">
  </form>
  <br>
  <center>New User?</center>
  <br>
  <form action="/sign_up" method="post"><center>
    <input type="submit" value="FU Cards Signup!"></center>
  </form>
  <br>

  <form action="/" method="get"><center>
  <input type="submit" value="Home"></center>
  </form>

  <br>

</div>
