 <div class="container">
  I need some info
  <form action="/sign_up" method="post">
    <br>
    <input type="text" name="user_name" placeholder= "Full Name">
    <br>
    <input type="text" name="email" placeholder= "Email">
    <br>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="I'm all set!">
  </form>
  <br>
</div>
